# IDE related dirs:
.idea/
.vscode/
.zed/
.buildconfig
/io.github.redddfoxxyy.samaya.json
/io.github.redddfoxxyy.samaya.json~

# Flatpak Build cache:
build-aux/flatpak/.flatpak-builder
build-aux/flatpak/build-dir
build-aux/flatpak/repo
build-aux/flatpak/samaya.flatpak
/repo
/build-dir
/.flatpak-builder

# AppImage Build cache:
build-aux/appimage/

# Meson Build Output Cache:
buildDir
builddir
_build
build
