# IDE related dirs:
.idea/
.vscode/
.zed/*
!.zed/tasks.json
!.zed/settings.json
.buildconfig
/io.github.redddfoxxyy.samaya.json
/io.github.redddfoxxyy.samaya.json~
/.clangd

# Flatpak Build cache:
build-aux/flatpak/.flatpak-builder
build-aux/flatpak/build-dir
build-aux/flatpak/repo
build-aux/flatpak/samaya.flatpak
/repo
/build-dir
/.flatpak-builder

# AppImage Build cache:
build-aux/appimage/

# Meson Build Output Cache:
buildDir
builddir
_build
build
build_debug
build_release
build_install
build_appimage
build_local

# misc:
po/README.md
